html,body{
  margin:0;
  overflow:hidden;
  background:#020617;
  color:white;
  font-family:Arial;
}
canvas{display:block}
#ui{
  position:absolute;
  top:15px;left:15px;
  background:rgba(0,0,0,.85);
  padding:12px;
  border-radius:10px;
}
